[user]
    name = Roberto Aguilar
    email = raguilar@dojogeek.io
[color]
    ui = true
[alias]
    st = status
    co = checkout
    cm = commit -v
    fetch = fetch -p
    nuke = ! git reset --hard && git clean -df
    history = log --graph --oneline --decorate
    unstage = reset HEAD --
    untracked = ls-files --others --exclude-standard
    modified = ls-files --modified
[core]
    editor = vim
    ignorecase = false
    excludesfile = ~/.gitignore_global
[push]
    default = current
[commit]
    template = ~/.git-commit-message
