# Update homebrew mondays at 12:00 to the latest version
0 12 * * 1 /usr/local/bin/brew update >> /dev/null 2>&1

# Update composer mondays at 12:00 to the latest version
0 12 * * 1 /usr/local/bin/composer self-update >> /dev/null 2>&1

# Update npm mondays at 12:00 to the latest version
0 12 * * 1 /usr/local/bin/npm install --global npm@latest >> /dev/null 2>&1

# Update yarn mondays at 12:00 to the latest version
0 12 * * 1 /usr/local/bin/npm install --global yarn@latest >> /dev/null 2>&1

# Update pip mondays at 12:00 to the latest version
0 12 * * 1 /usr/local/bin/pip install --upgrade pip >> /dev/null 2>&1
